body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./2.jpg");
  background-size: cover;
  font-family: sans-serif;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 50px;
  border-radius: 30px 70px;
}
.avtar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  border: 3px solid #666;
  border-left-color: chartreuse;
  border-right-color: chartreuse;
}
.avtar:hover {
  /* border: none; */
  height: 150px;
  width: 150px;
  left: calc(50% - 100px);
  top: -90px;
}
h1 {
  margin: 0;
  padding: 0, 0, 20px;
  text-align: center;
  font-size: 22px;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #f1f1f1;
  height: 40px;
  font-size: 16px;
}
.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  text-transform: capitalize;
}
.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.login-box a {
  text-decoration: none;
  line-height: 30px;
  display: block;
  color: darkgray;
}
.login-box a:hover {
  color: #fb2525;
}
